//
   Created by lenovo on 2017/7/1.

extends ../layout_admin

block styles

block content
        .page-heading
          h3
            | 课程信息
            |&nbsp&nbsp&nbsp&nbsp
            small 软件工程敏捷开发实践
          ul.breadcrumb
            li
              a(href='#') 教务管理
            li.active 设置新学期

            .wrapper
              .row
                .col-sm-12
                  section.panel
                    header.panel-heading
                      | 学期列表
                      span.tools.pull-right
                        a.fa.fa-chevron-down(href="javascript:;")
                        a.fa.fa-times(href="javascript:;")
                    .panel-body
                      table.table.table-hover.general-table
                        thead
                          tr
                            th 学年
                            th.hidden-phone 学期名称
                            th 学期状态
                            th 重新编辑
                            th 结束学期
                            th 上传学生名单
                            th(style="display:none")  编号
                        tbody#term
                          //- var data = [{course_id: 1,course_name:"2017年春",course_status:1},{course_id: 2,course_name:"2017年夏",course_status:0}];
                          - var x = 0;
                          - for i in data
                            tr
                              td #{i.course_year}
                              td #{i.course_name}
                              - if(i.course_status == 0)
                                td(style="color: red") 已结束
                                td
                                  button.btn.btn-info(type="button", onclick="edit(this)" disabled="true")
                                    span.glyphicon.glyphicon-edit
                                    i 编辑信息
                                td
                                  button.btn.btn-danger(type="button", onclick="end_course(this)" disabled="true")
                                    span.glyphicon.glyphicon-stop
                                    i &nbsp;结束学期
                                td
                                  button.btn.btn-success(type="button", onclick="goto_list(this)" disabled="true")
                                    span.glyphicon.glyphicon-download
                                    i &nbsp;上传学生名单
                                td(style="display:none") #{i.course_id}
                              - else
                                td(style="color: green") 进行中
                                td
                                  button.btn.btn-info(type="button", onclick="edit(this)")
                                    span.glyphicon.glyphicon-edit
                                    i 编辑信息
                                td
                                  button.btn.btn-danger(type="button", onclick="end_course(this)")
                                    span.glyphicon.glyphicon-stop
                                    i &nbsp;结束学期
                                td
                                  button.btn.btn-success(type="button", onclick="goto_list(this)")
                                    span.glyphicon.glyphicon-download
                                    i &nbsp;上传学生名单
                                td(style="display:none") #{i.course_id}
                          tr
                            td#last(colspan="7")
                                  button#add.btn.btn-block.btn-success(type="button",onclick="show('提交')")
                                    span.pull-left
                                      span.glyphicon.glyphicon-plus
                                    span.bold 添加新学期

        div#pop(style="display: none;position: absolute;top:2%;left: 20%;right: 20%;height: 700px;padding: 20px;border: 5px solid silver;border-radius: 5px;background-color: white;z-index:1002;overflow: auto; ")
          section.panel
            header.panel-heading
              | Basic Forms
            .panel-body
              form(role="form")
                .form-group
                  label 课程学年
                  input#course_year.form-control(type="text", placeholder="年份 春/秋")
                .form-group
                  label 课程名
                  input#course_name.form-control(type="text")
                .form-group
                  label 课程开始时间
                  input#course_start_time.form-control(type="text")
                .form-group
                  label 课程学时
                  input#course_hour.form-control(type="text")
                .form-group
                  label 课程地点
                  input#course_location.form-control(type="text")
                .form-group
                  label 课程学分
                  input#course_credit.form-control(type="text")
                .form-group
                  label 教师信息
                  input#teacher_information.form-control(type="text")
                button#bubble.btn.btn-block.btn-success(type="button", onclick="close()") 提交

        div#fade(onclick="hide()" style="display: none;position: absolute;top: 0%;left: 0%;width: 100%;height: 1000%;background-color: black;z-index:1001;-moz-opacity: 0.8;opacity:.80;filter: alpha(opacity=88); ")

block scripts
  script(src="/my_js/admin/course_information.js").
