extends layout_teacher

block styles

block scripts

block content
  .page-heading
    h3
      | Dashboard
    ul.breadcrumb
      li
        a(href='#') Dashboard
      li.active  My Dashboard
    .state-info
      section.panel
        .panel-body
          .summary
            span yearly expense
            h3.red-txt $ 45,600
          #income.chart-bar
      section.panel
        .panel-body
          .summary
            span yearly  income
            h3.green-txt $ 45,600
          #expense.chart-bar
  // page heading end

