extends layout

block sidebar
        ul.nav.nav-pills.nav-stacked.custom-nav
          li.menu-list#course_li
            a(href='' )
              i.fa.fa-home
              span 课程信息
            ul.sub-menu-list
              li#course_info_li
                a(href='/teacher/course_information')  设置课程信息
              li#student_list_li
                a(href='/teacher/student_list')  学生名单

          li#resource_li
            a(href='/teacher/resource')
              i.fa.fa-laptop
              span 课程资源
          li.menu-list#homework_li
            a(href='')
              i.fa.fa-book
              span 作业
            ul.sub-menu-list
              li#new_homework_li
                a(href='/teacher/new_homework')  发布新作业
              li#homework_list_li
                a(href='/teacher/homework_list')  查看学生作业

          li
            a(href='/teacher/announcement')
              i.fa.fa-cogs
              span 通知


          li.menu-list
            a(href='')
              i.fa.fa-envelope
              span 团队
            ul.sub-menu-list
              li
                a(href='#')  已组队名单
              li
                a(href='#')  待审核
              li
                a(href='#')  尚未组队名单
          li.menu-list
            a(href='')
              i.fa.fa-tasks
              span 成绩统计
            ul.sub-menu-list
              li
                a(href='#')  历次作业
              li
                a(href='#')  个人总成绩
          li
            a(href='#')
              i.fa.fa-cogs
              span 过往学期
