extends layout

block sidebar
        ul.nav.nav-pills.nav-stacked.custom-nav
          li
            a(href='/student/course_information' )
              i.fa.fa-home
              span 课程信息
          li
            a(href='/student/resource')
              i.fa.fa-laptop
              span 课程资源
          li#homework_li
            a(href='/student/homework_list')
              i.fa.fa-book
              span 作业
          li
            a(href='/student/announcement_list')
              i.fa.fa-cogs
              span 通知


          li.menu-list
            a(href='')
              i.fa.fa-envelope
              span 团队
            ul.sub-menu-list
              li
                a(href='/student/mygroup')  我的团队
              li
                a(href='/student/invitation')  邀请
              li
                a(href='#')   组内评分（待定）
