//
   Created by lenovo on 2017/7/1.

extends layout

block sidebar
        ul.nav.nav-pills.nav-stacked.custom-nav
          li
            a(href='/admin/course_information')
              i.fa.fa-laptop
              span 教务管理
