extends layout

block sidebar
        ul.nav.nav-pills.nav-stacked.custom-nav
          li
            a(href='' )
              i.fa.fa-home
              span 课程信息
          li
            a(href='#')
              i.fa.fa-laptop
              span 课程资源
          li#homework_li
            a(href='/student/homework_list')
              i.fa.fa-book
              span 作业
          li
            a(href='')
              i.fa.fa-cogs
              span 通知


          li.menu-list
            a(href='')
              i.fa.fa-envelope
              span 团队
            ul.sub-menu-list
              li
                a(href='#')  未定义
              li
                a(href='#')  未定义
              li
                a(href='#')  未定义
          li.menu-list
            a(href='')
              i.fa.fa-tasks
              span 评分
            ul.sub-menu-list
              li
                a(href='#')  未定义
              li
                a(href='#')  未定义


          li.menu-list
            a(href='')
              i.fa.fa-tasks
              span 成绩报表
            ul.sub-menu-list
              li
                a(href='#')  未定义
              li
                a(href='#')  未定义

          li
            a(href='#')
              i.fa.fa-laptop
              span 签到

