extends layout

block sidebar
        ul.nav.nav-pills.nav-stacked.custom-nav
          li
            a(href='/student/course_information' )
              i.fa.fa-info-circle
              span 课程信息
          li#resource_li
            a(href='/student/resource')
              i.fa.fa-cloud
              span 课程资源
          li#homework_li
            a(href='/student/homework_list')
              i.fa.fa-tasks
              span 作业
          li#announcement_li
            a(href='/student/announcement_list')
              i.fa.fa-envelope
              span 通知
          li.menu-list#group_li
            a(href='')
              i.fa.fa-group
              span 团队
            ul.sub-menu-list
              li#mygroup_li
                a(href='/student/mygroup')  我的团队
              li#invitation_li
                a(href='/student/invitation')  邀请
              li#rate_li
                a(href='/student/group_rate')   组内评分
