extends layout

block sidebar
        ul.nav.nav-pills.nav-stacked.custom-nav
          li.menu-list#course_li
            a(href='' )
              i.fa.fa-info-circle
              span 课程信息
            ul.sub-menu-list
              li#course_info_li
                a(href='/teacher/course_information')  设置课程信息
              li#student_list_li
                a(href='/teacher/student_list')  学生名单

          li#resource_li
            a(href='/teacher/resource')
              i.fa.fa-cloud
              span 课程资源
          li.menu-list#homework_li
            a(href='')
              i.fa.fa-tasks
              span 作业
            ul.sub-menu-list
              li#new_homework_li
                a(href='/teacher/new_homework')  发布新作业
              li#homework_list_li
                a(href='/teacher/homework_list')  查看学生作业

          li#announcement_li
            a(href='/teacher/announcement')
              i.fa.fa-envelope
              span 通知


          li.menu-list#group_li
            a(href='')
              i.fa.fa-group
              span 团队
            ul.sub-menu-list
              li#grouped_li
                a(href='/teacher/group_confirm_list')  已组队学生
              li#grouping_li
                a(href='/teacher/group_apply_list')  待审批团队
              li#ungroup_li
                a(href='/teacher/student_not_in_group')  未组队学生
          li.menu-list#score_li
            a(href='')
              i.fa.fa-signal
              span 成绩统计
            ul.sub-menu-list
              li#group_score_li
                a(href='/teacher/group_form')  历次作业
              li#individual_score_li
                a(href='/teacher/student_form')  个人总成绩

          li#older_li
            a(href='/teacher/old_course')
              i.fa.fa-list-ol
              span 过往学期
