// By ZhuFu on 20170627

extends ../layout_teacher


block styles

block content
        .page-heading
          h3
            | 设置课程信息
            small 软件工程敏捷开发实践
          ul.breadcrumb
            li
              a(href='#') 课程信息
            li.active 设置课程信息

        table#info.table.table-bordered.table-striped(style="clear: both")
          tbody
            tr
              td(width="30%") 课程名称
              td(width="30%")
                a#course_name.editable.editable-click(href="#") 软件工程敏捷开发实践
            tr
              td(width="30%") 开始时间
              td(width="30%")
                a#course_start_time.editable.editable-click(href='#') 2017-06-25
            tr
              td(width="30%") 结束时间
              td(width="30%")
                a#course_end_time.editable.editable-click(href='#') 2017-07-05
            tr
              td(width="30%") 学时
              td(width="30%")
                a#course_hours.editable.editable-click(href='#') 20&nbsp学时
            tr
              td(width="30%") 学分
              td(width="30%")
                a#credit.editable.editable-click(href='#') 2 学分
            tr
              td(width="30%") 上课地点
              td(width="30%")
                a#course_location.editable.editable-click(href='#') 北航学院路工训中心317
            tr
              td(width="30%") 团队限制信息
              td(width="30%")
                a#team_limit_information.editable.editable-click(href='#') 6-8人，一个女生
            tr
              td(width="30%") 教师信息
              td(width="30%")
                a#teacher_information.editable.editable-click(href='#') 林广艳，贾经冬
            tr
              td(width="30%") 课程信息
              td(width="30%")
                a#course_information.editable.editable-click(href='#') 敏捷过程Scrum模型与教务系统开发

block scripts
        script(type='text/javascript').
          $(document).ready(function () {

            var x;
            // 1
            $('#course_name').editable({
                type: 'text',
                pk: 1,
                title: "编辑",
                url: function(para){
                    x = para.value;
                    return $.post('http:/127.0.0.1/teacher/information', {
                        course_id: "1",
                        course_name:x,
                        course_start_time: $('#course_start_time').text(),
                        course_end_time: $('#course_end_time').text(),
                        course_hours: $('#course_hours').text(),
                        credit: $('#credit').text(),
                        course_location: $('#course_location').text(),
                        team_limit_information: $('#team_limit_information').text(),
                        teacher_information: $('#teacher_information').text(),
                        course_information: $('#course_information').text()
                      }
                    );
                },
                validate: function(value){
                    value = $.trim(value);
                    if(!value){
                        alert('不能为空！');
                    }
                },
                success:function(response){
                    if(response == false){
                        alert('Remote error!');
                    }
                    else
                        $('#course_name').html(x);
                },
                error: function(response){
                    alert('Fail to submit!');
                }
            });
            // 2
              $('#course_start_time').editable({
                  type: 'text',
                  pk: 1,
                  title: "编辑",
                  url: function (para) {
                      x = para.value;
                      return $.post('http:/127.0.0.1/teacher/information', {
                              course_id: "1",
                              course_name: $('#course_name').text(),
                              course_start_time: x,
                              course_end_time: $('#course_end_time').text(),
                              course_hours: $('#course_hours').text(),
                              credit: $('#credit').text(),
                              course_location: $('#course_location').text(),
                              team_limit_information: $('#team_limit_information').text(),
                              teacher_information: $('#teacher_information').text(),
                              course_information: $('#course_information').text()
                          }
                      );
                  },
                  validate: function (value) {
                      value = $.trim(value);
                      if (!value) {
                          alert('不能为空！');
                      }
                  },
                  success: function (response) {
                      if (response == false) {
                          alert('Remote error!');
                      }
                      else
                          $('#course_start_time').html(x);
                  },
                  error: function (response) {
                      alert('Fail to submit!');
                  }
              });
              // 3
              $('#course_end_time').editable({
                  type: 'text',
                  pk: 1,
                  title: "编辑",
                  url: function (para) {
                      x = para.value;
                      return $.post('http:/127.0.0.1/teacher/information', {
                              course_id: "1",
                              course_name: $('#course_name').text(),
                              course_start_time: $('#course_start_time').text(),
                              course_end_time: x,
                              course_hours: $('#course_hours').text(),
                              credit: $('#credit').text(),
                              course_location: $('#course_location').text(),
                              team_limit_information: $('#team_limit_information').text(),
                              teacher_information: $('#teacher_information').text(),
                              course_information: $('#course_information').text()
                          }
                      );
                  },
                  validate: function (value) {
                      value = $.trim(value);
                      if (!value) {
                          alert('不能为空！');
                      }
                  },
                  success: function (response) {
                      if (response == false) {
                          alert('Remote error!');
                      }
                      else
                          $('#course_end_time').html(x);
                  },
                  error: function (response) {
                      alert('Fail to submit!');
                  }
              });
              // 4
              $('#course_hours').editable({
                  type: 'text',
                  pk: 1,
                  title: "编辑",
                  url: function (para) {
                      x = para.value;
                      return $.post('http:/127.0.0.1/teacher/information', {
                              course_id: "1",
                              course_name: $('#course_name').text(),
                              course_start_time: $('#course_start_time').text(),
                              course_end_time: $('#course_end_time').text(),
                              course_hours: x,
                              credit: $('#credit').text(),
                              course_location: $('#course_location').text(),
                              team_limit_information: $('#team_limit_information').text(),
                              teacher_information: $('#teacher_information').text(),
                              course_information: $('#course_information').text()
                          }
                      );
                  },
                  validate: function (value) {
                      value = $.trim(value);
                      if (!value) {
                          alert('不能为空！');
                      }
                  },
                  success: function (response) {
                      if (response == false) {
                          alert('Remote error!');
                      }
                      else
                          $('#course_hours').html(x);
                  },
                  error: function (response) {
                      alert('Fail to submit!');
                  }
              });
              // 5
              $('#credit').editable({
                  type: 'text',
                  pk: 1,
                  title: "编辑",
                  url: function (para) {
                      x = para.value;
                      return $.post('http:/127.0.0.1/teacher/information', {
                              course_id: "1",
                              course_name: $('#course_name').text(),
                              course_start_time: $('#course_start_time').text(),
                              course_end_time: $('#course_end_time').text(),
                              course_hours: $('#course_hours').text(),
                              credit: x,
                              course_location: $('#course_location').text(),
                              team_limit_information: $('#team_limit_information').text(),
                              teacher_information: $('#teacher_information').text(),
                              course_information: $('#course_information').text()
                          }
                      );
                  },
                  validate: function (value) {
                      value = $.trim(value);
                      if (!value) {
                          alert('不能为空！');
                      }
                  },
                  success: function (response) {
                      if (response == false) {
                          alert('Remote error!');
                      }
                      else
                          $('#credit').html(x);
                  },
                  error: function (response) {
                      alert('Fail to submit!');
                  }
              });
              // 6
              $('#course_location').editable({
                  type: 'text',
                  pk: 1,
                  title: "编辑",
                  url: function (para) {
                      x = para.value;
                      return $.post('http:/127.0.0.1/teacher/information', {
                              course_id: "1",
                              course_name: $('#course_name').text(),
                              course_start_time: $('#course_start_time').text(),
                              course_end_time: $('#course_end_time').text(),
                              course_hours: $('#course_hours').text(),
                              credit: $('#credit').text(),
                              course_location: x,
                              team_limit_information: $('#team_limit_information').text(),
                              teacher_information: $('#teacher_information').text(),
                              course_information: $('#course_information').text()
                          }
                      );
                  },
                  validate: function (value) {
                      value = $.trim(value);
                      if (!value) {
                          alert('不能为空！');
                      }
                  },
                  success: function (response) {
                      if (response == false) {
                          alert('Remote error!');
                      }
                      else
                          $('#course_location').html(x);
                  },
                  error: function (response) {
                      alert('Fail to submit!');
                  }
              });
              // 7
              $('#team_limit_information').editable({
                  type: 'text',
                  pk: 1,
                  title: "编辑",
                  url: function (para) {
                      x = para.value;
                      return $.post('http:/127.0.0.1/teacher/information', {
                              course_id: "1",
                              course_name: $('#course_name').text(),
                              course_start_time: $('#course_start_time').text(),
                              course_end_time: $('#course_end_time').text(),
                              course_hours: $('#course_hours').text(),
                              credit: $('#credit').text(),
                              course_location: $('#course_location').text(),
                              team_limit_information: x,
                              teacher_information: $('#teacher_information').text(),
                              course_information: $('#course_information').text()
                          }
                      );
                  },
                  validate: function (value) {
                      value = $.trim(value);
                      if (!value) {
                          alert('不能为空！');
                      }
                  },
                  success: function (response) {
                      if (response == false) {
                          alert('Remote error!');
                      }
                      else
                          $('#team_limit_information').html(x);
                  },
                  error: function (response) {
                      alert('Fail to submit!');
                  }
              });
              // 8
              $('#teacher_information').editable({
                  type: 'text',
                  pk: 1,
                  title: "编辑",
                  url: function (para) {
                      x = para.value;
                      return $.post('http:/127.0.0.1/teacher/information', {
                              course_id: "1",
                              course_name: $('#course_name').text(),
                              course_start_time: $('#course_start_time').text(),
                              course_end_time: $('#course_end_time').text(),
                              course_hours: $('#course_hours').text(),
                              credit: $('#credit').text(),
                              course_location: $('#course_location').text(),
                              team_limit_information: $('#team_limit_information').text(),
                              teacher_information: x,
                              course_information: $('#course_information').text()
                          }
                      );
                  },
                  validate: function (value) {
                      value = $.trim(value);
                      if (!value) {
                          alert('不能为空！');
                      }
                  },
                  success: function (response) {
                      if (response == false) {
                          alert('Remote error!');
                      }
                      else
                          $('#teacher_information').html(x);
                  },
                  error: function (response) {
                      alert('Fail to submit!');
                  }
              });
              // 9
              $('#course_information').editable({
                  type: 'text',
                  pk: 1,
                  title: "编辑",
                  url: function (para) {
                      x = para.value;
                      return $.post('http:/127.0.0.1/teacher/information', {
                              course_id: "1",
                              course_name: $('#course_name').text(),
                              course_start_time: $('#course_start_time').text(),
                              course_end_time: $('#course_end_time').text(),
                              course_hours: $('#course_hours').text(),
                              credit: $('#credit').text(),
                              course_location: $('#course_location').text(),
                              team_limit_information: $('#team_limit_information').text(),
                              teacher_information: $('#teacher_information').text(),
                              course_information: x
                          }
                      );
                  },
                  validate: function (value) {
                      value = $.trim(value);
                      if (!value) {
                          alert('不能为空！');
                      }
                  },
                  success: function (response) {
                      if (response == false) {
                          alert('Remote error!');
                      }
                      else
                          $('#course_information').html(x);
                  },
                  error: function (response) {
                      alert('Fail to submit!');
                  }
              });
          });
