//
   Created by 胡晟 on 2017/6/28.

extends ../layout_teacher


block styles
  link(href='/css/jquery.stepy.css', rel='stylesheet')
  // pickers css
  link(rel='stylesheet', type='text/css', href='/js/bootstrap-datepicker/css/datepicker-custom.css')
  link(rel='stylesheet', type='text/css', href='/js/bootstrap-timepicker/css/timepicker.css')
  link(rel='stylesheet', type='text/css', href='/js/bootstrap-colorpicker/css/colorpicker.css')
  link(rel='stylesheet', type='text/css', href='/js/bootstrap-daterangepicker/daterangepicker-bs3.css')
  link(rel='stylesheet', type='text/css', href='/js/bootstrap-datetimepicker/css/datetimepicker-custom.css')

block scripts

  script.
    /*=====STEPY WIZARD====*/
    $(function () {
        $('#default').stepy({
            backLabel: '前一步',
            block: true,
            nextLabel: '下一步',
            titleClick: true,
            titleTarget: '.stepy-tab'
            //finish : sub()
        });
    });

  //pickers plugins
  script(type='text/javascript', src='/js/bootstrap-datepicker/js/bootstrap-datepicker.js')
  script(type='text/javascript', src='/js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js')
  script(type='text/javascript', src='/js/bootstrap-daterangepicker/moment.min.js')
  script(type='text/javascript', src='/js/bootstrap-daterangepicker/daterangepicker.js')
  script(type='text/javascript', src='/js/bootstrap-colorpicker/js/bootstrap-colorpicker.js')
  script(type='text/javascript', src='/js/bootstrap-timepicker/js/bootstrap-timepicker.js')
  // pickers initialization
  //script(src='/js/pickers-init.js')

  //wizard
  script(src='/js/jquery.validate.min.js')
  script(src='/js/jquery.stepy.js')



  script(src='/my_js/teacher/new_homework.js')


block content
  // page heading start
  .page-heading
    h3
      | 发布新作业
    ul.breadcrumb
      li
        a(href='#') 作业
      li.active 发布新作业
  // page heading end
  hr
  // body wrapper start
  .wrapper
    .row
      .col-md-12
        .square-widget
          .widget-container
            .stepy-tab
            form#default.form-horizontal(action='/teacher/new_homework', method='post')
              fieldset(title='要求')
                legend 填写基本要求
                .form-group
                  label.col-md-2.col-sm-2.control-label 作业标题
                  .col-md-6.col-sm-6
                    input.form-control(type='text', placeholder='标题' name='homework_title')
                .form-group
                  label.col-md-2.col-sm-2.control-label 开始时间
                  .col-md-4
                    .input-group.date.form_datetime-component
                      input.form-control(type='text', readonly='', size='16' name='homework_start_time')
                      span.input-group-btn
                        button.btn.btn-primary.date-set(type='button')
                          i.fa.fa-calendar
                .form-group
                  label.col-md-2.col-sm-2.control-label 截止时间
                  .col-md-4
                    .input-group.date.form_datetime-component
                      input.form-control(type='text', readonly='', size='16' name='homework_end_time')
                      span.input-group-btn
                        button.btn.btn-primary.date-set(type='button')
                          i.fa.fa-calendar
              fieldset(title='详细要求')
                legend 进一步细化要求
                .form-group
                  label.col-md-2.col-sm-2.control-label 作业分值
                  .col-md-6.col-sm-6
                    input.form-control(type='text', placeholder='分值' name='homework_score')
                .form-group
                  label.col-md-2.col-sm-2.control-label 允许提交次数
                  .col-md-6.col-sm-6
                    input.form-control(type='text', placeholder='提交次数' name='resubmit_limit')
                .form-group
                  label.col-md-2.col-sm-2.control-label 要求以及指导
                  .col-md-6.col-sm-6
                    textarea.form-control(rows='5', cols='60' name='homework_message')
              fieldset(title='完成')
                legend 请点击确认
                .form-group
                  .col-md-12
                    p 点击“确认发布”后，全体学生可以看到此作业。
              button.btn.btn-info.finish(type='submit')
                |确认发布


  // body wrapper end


