//
   Created by 胡晟 on 2017/7/3.

extends  ../layout_student


block scripts
    script(src='/my_js/student/mygroup_homeless.js')

block content
    // page heading start
    .page-heading
        h3
            | 我的团队
        ul.breadcrumb
            li
                a(href='#') 团队

            li.active  我的团队
    // page heading end
    // body wrapper start
    .wrapper
        section.panel

            .panel-body
                p 你还没有加入任何团队。
                p 你可以创建自己的团队，同时成为团队的负责人。
                a.btn.btn-default.btn-primary(href='#myModal', data-toggle='modal')
                    | 创建
                #myModal.modal.fade(aria-hidden='true', aria-labelledby='myModalLabel', role='dialog', tabindex='-1')
                    .modal-dialog
                        .modal-content
                            .modal-header
                                button.close(aria-hidden='true', data-dismiss='modal', type='button') ×
                                h4.modal-title 创建团队
                            .modal-body
                                form(action='/student/new_group', method='post')
                                    .form-group
                                        label 团队名
                                        input.form-control(name='group_name',type='text', placeholder='起一个好听的名字')
                                    button.btn.btn-primary(type='submit') 确认创建